<header class="max-w-4xl mx-auto p-6">
  <div
    class="text-[1.8rem] leading-[1.8] font-bold mb-4 text-center text-gray-800 dark:text-gray-200"
  >
    One-on-One TypeScript support to advance your career
  </div>
  <div
    class="text-[1.5rem] leading-[1.8] text-gray-600 mb-6 text-center dark:text-gray-300"
  >
    Professional TypeScript support to solve bugs in minutes instead of days,
    improve code quality and make you a better developer.
  </div>
  <div class="flex justify-center space-x-4">
    <button
      class="shadow-md bg-white hover:bg-slate-100 text-black py-2 px-4 rounded transition duration-300 dark:bg-gray-800 dark:hover:bg-gray-700 dark:text-white"
    >
      Tell me more
    </button>
    <button
      class="shadow-md bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 transition duration-300 dark:bg-blue-600 dark:hover:bg-blue-700"
    >
      Book free call
    </button>
  </div>
</header>
